*{
    padding: 0;
    margin: 0;
}
#game{
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
}
#character{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 300px;
    left: 0px;
    background-image: url(./img/rahul.jpeg);
    background-size: cover;
    border-radius: 15%;
    border:none;
    box-shadow: 0px 8px 16px black;
    
}
/* #white{
    top: 500px;
    z-index: 100;
    position: absolute;
    width: 300px;
    height: 130px;
    background-color: white;
} */
#block{
    width: 100px;
    height: 100px;
    top: 500px;
    /* background-color: black; */
    position: relative;
    animation: slide 1s infinite linear;
}
#block h1{
    font-size: 70px;
    /* text-align: center; */
    /* display: flex; */
    justify-items: center;
    /* align-items: center; */
    position: absolute;
    padding: 0px;
    color: rgb(196, 28, 28);
}
@keyframes slide{
    0%{top:-100px};
    100%{top:500px};
}
#left, #right{
    width:50%;
    position: absolute;
    height: 500px;
}
#right{
    left: 50%;
}